#Experience {
  background-color: var(--dark-gray);
  padding: 40px 60px 10px 60px;
  color: white;
  border-radius: 40px;
  margin-bottom: 40px;
  h2 {
    background: linear-gradient(to right, #fff 0%, #999999 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background: white;
    bottom: -20%;
    left: 0;
    margin: 0 auto;
  }
  li {
    margin-bottom: 40px;
    &::marker {
      font-size: 2rem;
      margin-top: 50%;
      color: white;
    }
    h3 {
      font-size: 2rem;
      font-weight: 400;
    }
    h4 {
      color: var(--light-gray);
      margin-bottom: 10px;
      font-weight: 400;
    }
  }
}
