#Projects {
  background-color: var(--dark-gray);
  padding: 40px 60px;
  color: white;
  border-radius: 40px;
  margin-bottom: 40px;
  & > img {
    display: none;
  }
  h2 {
    background: linear-gradient(to right, #fff 0%, #999999 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    margin-bottom: 10%;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background: white;
    bottom: -20%;
    left: 0;
    margin: 0 auto;
  }
  ul {
    list-style: none;
    li {
      transition: 0.2s;
      &:hover {
        transition: 0.2s;

        transform: scale(1.01);
      }
      border: white solid 2px;
      border-radius: 40px;
      margin-bottom: 40px;
      a {
        text-decoration: none;
        color: white;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 2rem;
          font-weight: 400;
        }
        h4 {
          color: var(--light-gray);
          font-weight: 400;
          margin-bottom: 30px;
        }
        p {
          white-space: pre-line;
          line-height: 1.4rem;
        }
      }
    }
  }
  .git {
    width: 100%;
    text-align: center;
    transition: 0.2s;
    a {
      transition: 0.2s;
      color: white;
      &:hover {
        color: var(--light-gray);
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  #Projects {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 40px;
    h2 {
      text-align: center;
      margin-bottom: 40px;
    }
    h2::after {
      left: 50%;
      transform: translate(-50%, 0);
    }
    img.leftArrow {
      position: absolute;
      width: 10%;
      left: 20px;
      top: 50%;
      display: block;
      cursor: pointer;
      z-index: 1;
    }
    img.rightArrow {
      position: absolute;
      width: 10%;
      scale: -1;
      right: 20px;
      top: 50%;
      overflow: visible;
      display: block;
      cursor: pointer;
      z-index: 1;
    }
    ul {
      li {
        display: none;
        border: solid #fff 3px;
        overflow: hidden;
        &.visible {
          display: flex;
        }
        a {
          width: 100%;
          padding-top: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: linear-gradient(
            -45deg,
            rgba(62, 62, 62, 0.4) 40%,
            rgba(164, 164, 164, 0.4) 100%
          ) !important;
          h3 {
            font-size: 1.6rem;
            align-self: flex-start;
          }
          h4 {
            align-self: flex-start;
            margin-bottom: 20px;
          }
          .line {
            height: 2px;
            background-color: white;
            width: 60%;
            margin: 20px 0;
          }
          p {
            font-size: 0.8rem;
          }
          img {
            width: 100%;
            aspect-ratio: 5 / 4;
            object-position: 100%;
            object-fit: cover;
            object-position: center;
            border: solid #fff 3px;
          }
        }
      }
    }
  }
}
