#TechStack {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  background-color: transparent;
  h2 {
    color: white;
    position: relative;
    font-size: 3rem;
    font-weight: 400;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 120%;
    background: white;
    bottom: -45%;
    left: -10%;
    right: -10%;
    margin: 0 auto;
  }
  .tech img {
    padding: 0 8px;
    transition: 0.3s;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
@media only screen and (max-width: 1200px) {
  #TechStack {
    margin-bottom: 30px;
    gap: 40px;
    h2 {
      font-size: 2rem;
      font-weight: 600;
      &::after {
        width: 100%;
      }
    }
    .tech {
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
      img {
        padding: 20px;
        height: 100px;
      }
      img:last-child {
        grid-column: 2 / 3;
      }
    }
  }
}
