@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --black: #0a0908;
  --dark-gray: #201a23;
  --light-gray: #6f8695;
  --red: #a63d40;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.pcOnly {
  display: block;
}
.mobileOnly {
  display: none;
}
#root {
  height: 100vh;
  padding: 40px 80px 20px 80px;
  background: #381516;
  background: radial-gradient(
    circle,
    rgba(56, 21, 22, 1) 0%,
    rgba(10, 9, 8, 1) 40%
  );
  display: grid;
  grid-template: 4fr 1fr / 2fr 3fr;
  * > {
    max-width: 100%;
  }
  gap: 15px 40px;
}
@media only screen and (max-width: 1200px) {
  #root {
    padding: 80px 30px 20px 30px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  #scrollPage {
    overflow: visible;
  }
  .pcOnly {
    display: none !important;
  }
  .mobileOnly {
    display: block;
  }
}
